@import url('https://fonts.googleapis.com/css2?family=Poopins:wgth@300;400;500;600;700;800;900&display=swap');
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins',sans-serif;
}
:root{
  
  --bg-color: linear-gradient(120deg, #e74865, #FF79B0, #ff4cd2);
  --second-bg-color: linear-gradient(120deg, #eb6dc1,  #ff4cd2);
  --text-color: #fff;
  --main-color: rgb(255, 0, 149);
  }
html{
  font-size: 62.5%;
  overflow-x:hidden ;
}
body{
    background: linear-gradient(120deg, #FF4D6D, #FF79B0, #6A4CFF);
  background-size: 400% 400%;
  animation: gradientMove 12s ease infinite;
  color: var(--text-color);
}
@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
section{
  min-height: 100vh;
  padding: 9rem 9% 2rem;
}
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.header.sticky{
  border-bottom: .1rem solid rgba(0,0,0,.2);
}
.logo{
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
  cursor: default;
}
.navbar a{
  font-size: 1.7rem;
  color: var(--text-color);
  margin-left: 4rem;
  transition: .3s;
}
.navbar a:hover,
.navbar a.active{
  color: var(--main-color);
}
#menu-icon{
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}
.home{
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-img img{
  width:35vw;
  animation: FloatImage 4s ease-in-out infinite;
}
@keyframes FloatImage {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(2.4rem);
  }
  100%{
    transform: translateY(0);
  }
  
}
.home-content h3{
  font-size: 3.2rem;
  font-weight: 700;
}
.home-content h3:nth-of-type(2){
  margin-bottom: 2rem;
}
span{
  color: var(--main-color);
}
.home-content h1{
  font-size: 5.5rem;
  font-weight: 700;
  line-height: 1.3;
}
.home-content p{
  font-size: 1.6rem;
}
.social-media a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: .2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: .5s ease;
}
.social-media a:hover {
  background: var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
}
.btn{
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  color: var(--second-bg-color);
  letter-spacing: .1rem;
  font-weight: 600;
  transition: .5s ease;
}
.btn:hover{
  box-shadow: none;
}
.btn1{
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  color: var(--second-bg-color);
  letter-spacing: .1rem;
  font-weight: 600;
  text-align: center;
  transition: .5s ease;
}
.btn1:hover{
  box-shadow: none;
}
.about{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--second-bg-color);
}
.about-img img{
  width: 35vw;
}
.heading{
  text-align: center;
  font-size: 4.5rem;
}
.about-content h2{
  text-align: left;
  line-height: 1.2;
}
.about-content h3{
  font-size: 2.6rem;
}
.about-content p{
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
  
}
.skills{
  margin-bottom: 5rem;
}
.skills-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.skills-container .skills-box{
  height: 78vh;
  width: 90vw;
  flex: 1 1 30rem;
  background: var(--second-bg-color);
  /* padding: 3rem 2rem 4rem; */
  border: .2rem solid var(--bg-color);
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--main-color);
  margin-top: 10vh;
  transition: .5s ease;
}
.skills-container .skills-box:hover{
  border-color: 1px solid purple;
  transform: scale(1.02);
}
.skills-box i{
  font-size: 2rem;
}
.skills-container .skills-box1{
  height: 78vh;
  width: 90vw;
  flex: 1 1 30rem;
  background: var(--second-bg-color);
  /* padding: 3rem 2rem 4rem; */
  border: .2rem solid var(--bg-color);
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.5rem;
  margin-top: 10vh;
  transition: .5s ease;
 
}
.skills-container .skills-box1:hover{
  border-color: var(--main-color);
  transform: scale(1.02);
}
.res{
  height:8vh;
  width:10vw;
  border-radius: 1rem; 
  margin-top: 5%;
  margin-left: 7vw;
  border: 1px solid var(--main-color);
  color: white;
  text-align: center;
  align-items: center;
  padding: 1rem 2.8rem;
  font-size: 2rem;
  box-shadow: 0 0 1rem var(--main-color);
}
.res11{
  height:8vh;
  width:11vw;
  border-radius: 1rem; 
  margin-top: 5%;
  margin-left: 7vw;
  border: 1px solid var(--main-color);
  color: white;
  text-align: center;
  align-items: center;
  padding: 1rem 2rem;
  font-size: 2rem;
  box-shadow: 0 0 1rem var(--main-color);
}
.res1{
  height:8vh;
  width:11vw;
  border-radius: 1rem; 
  margin-top: 5%;
  margin-left: 7vw;
  border: 1px solid var(--main-color);
  color: white;
  text-align: center;
  align-items: center;
  padding: 1rem 2.8rem;
  font-size: 2rem;
  box-shadow: 0 0 1rem var(--main-color);
}
.box1{
  height: 10vh;
  width: 100%;
  border: 1px solid var(--main-color);
  font-size: 4rem;
  text-align: center;
  color: purple;
  justify-content: center;
  border-radius: 2rem;
  font-family: 'Times New Roman', Times, serif;
  box-shadow: 0 0 1rem var(--main-color);
}
.workexprience{
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--second-bg-color);
  margin-bottom: 5rem;
}
.my-container{
  height: 50vh;
  width: 80vw;
  margin-right: 10vw;
  justify-content: space-between;
  font-size: 2rem;
  background-color: var(--bg-color);
  box-shadow: 0 0 1rem var(--main-color);
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3rem 9%;
  flex-wrap: wrap;
}
.pg{
  font-size: 1.8rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.project-containerbox{
  height: 60vh;
  width: 100%;
  position: relative;
  border: 1px solid var(--main-color);
  overflow: hidden;
  font-size: 1.4rem;
  display: flex;
  color: var(--bg-color);
   padding: 3rem 9%;
  border-radius: 2rem;
  font-family: 'Times New Roman', Times, serif;
  box-shadow: 0 0 1rem var(--main-color);
}
.containerbox{
  width: 100%;
  height: 50vh;
  position: relative;

}
.slider{
  position: absolute;
  width: 70%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  box-shadow: 0 0 1rem var(--main-color);
}
.slider.active{
  opacity: 1;
}
.heading{
  gap: 1rem;
   margin-bottom: 5rem;
}
.projectlayer{
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  width: 50%;
  font-family: 'Times New Roman', Times, serif;
}
.contact h2{
  margin-bottom: 3rem;
}
.contact form{
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}
.contact form .input-box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea{
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: var(--second-bg-color);
  border-radius: .8rem;
  margin: .7rem 0;
}
.contact form .input-box input{
  width: 49%;
}
.contact form textarea{
  resize: none;
}
.contact form .btn{
  margin-top: 2rem;
  cursor: pointer;
  /* text-align: center; */
  font-size: 1.3rem;
  width: 12vw;
}
.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: var(--second-bg-color);
}
.footer-text p{
  font-size: 1.6rem;

}
.footer-iconTop a{
  display:inline-flex;
  justify-content: center;
  align-items: center;
  padding: .8rem;
  background: var(--main-color);
  border-radius: .8rem;
  transition: .5s ease;
}
.footer-iconTop a:hover{
  box-shadow: 0 0 1rem var(--main-color);
}
.footer-iconTop a i{
  font-size: 2.4rem;
  color: var(--second-bg-color);
}
@media (max-width:1200px){
  html{
    font-size: 55%;
  }
}
@media (max-width:991px){
  .header{
    padding: 2rem 3%;
  }
  section{
    padding: 10rem 3% 2rem;
  }
  .footer{
    padding: 2rem 3%;
  }
  .skills{
    padding-bottom:7rem ;
  }
  .contact{
    min-height: auto;
  }
}
@media (max-width:768px){
  #menu-icon{
    display: block;
  }
  .navbar{
    position: absolute;
    top:100%;
    left:0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top: .1rem solid rgba(0,0,0,.2);
    box-shadow: 0.5rem 1rem rgba(0,0,0,.2);
    display: none;
    z-index: 1000;
  }
  .navbar.active{
    display: block;
  }
  .navbar a{
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }
  .header{
    position: fixed;
  }
  .home{
    flex-direction: column;
  }
  .home-content h3{
    font-size: 2.6rem;
  }
  .home-content h1{
    font-size: 5rem;
  }
  .home-img img{
    width: 70vw;
    margin-top: 4rem;
  }
  .about{
    flex-direction: column-reverse;
   }
   .about img{
    width: 70vw;
    margin-top: 4rem;
   }
   .res{
    height: 8vh;
    width: 50%;
    margin-left: 25vw;
    font-size: 2.5rem;

   }
   .res11{
    height: 8vh;
    width: 50%;
    margin-left: 25vw;
    font-size: 2.5rem;

   }
   .res1{
    height: 8vh;
    width: 50%;
    margin-left: 10vw;
    font-size: 2.5rem;

   }
   .workexprience h2{
    margin-bottom: 3rem;
   }
   .my-container{
    grid-template-columns: repeat(2,1fr);
   }

}
@media (max-width:617px){
   .my-container{
    grid-template-columns: 1fr;
   }
   .my-container{
  height: 55vh;
  width: 85vw;
  margin-right: 10vw;
   }
   .project-containerbox{
    display: grid;
    overflow: scroll;
  
  }
  .slider{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  box-shadow: 0 0 1rem var(--main-color);
}
.slider.active{
  opacity: 1;
}
.projectlayer{
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  width: 100%;
  margin-top: 5vh;
  font-family: 'Times New Roman', Times, serif;
}
   
}
@media (max-width:450px){
  html{
    font-size: 50%;
  }
  .btn1{
    height: 8vh;
    width: 37%;
  }
  .project-containerbox{
    display: grid;
    overflow: scroll;
  
  }
  .slider{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  box-shadow: 0 0 1rem var(--main-color);
}
.slider.active{
  opacity: 1;
}
.projectlayer{
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  width: 100%;
  margin-top: 5vh;
  font-family: 'Times New Roman', Times, serif;
}
.contact form .input-box input{
  width:100%;
}
  

}
@media (max-width:365px) {
  .home-img img{
    width: 90vw;
  }
  .about-img img{
    width:90vw;
  }
  .footer{
    flex-direction: column-reverse;

  }
  .footer p{
    text-align: center;
    margin-top: 2rem;
  }
  
}